<!--início do editar-->
    
<table class="table table-striped">
  <thead>
    <tr class="table-warning">
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Atualizar</th>
      <th scope="col">Deletar</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  <tbody>
    <tr class="table-dark">
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><button type="button" class="btn btn-outline-warning">Atualizar</button></td>
      <td><button type="button" class="btn btn-outline-warning">Deletar</button></td>
    </tr>
    <tr class="table-warning">
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td><button type="button" class="btn btn-outline-dark">Atualizar</button></td>
      <td><button type="button" class="btn btn-outline-dark">Deletar</button></td>
    </tr>
    <tr class="table-dark">
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
      <td><button type="button" class="btn btn-outline-warning">Atualizar</button></td>
      <td><button type="button" class="btn btn-outline-warning">Deletar</button></td>
    </tr>
  </tbody>
</table>

<!--fim do editar-->